<div class="container">
  <h1 class="display-4 text-center">Registration Form To Go To The Dark Side</h1>
  <p class="lead text-center">
    Work With <strong>Dark Lords</strong> Like Darth Vader or Voldermort, Just A Form Away
    <br>
    <span class="text-center text-muted">
      <small>Being A Death Eater or Storm Trooper Has Never Been That Easy</small>
    </span>
  </p>
  <hr>

  <h1 class="display-4 text-center text-danger">Model/Data Driven</h1>
  <app-data-driven></app-data-driven>

  <hr>

  <h1 class="display-4 text-center text-danger">Template Driven</h1>
  <app-template-driven></app-template-driven>
</div>